# dependencies
node_modules

# coverage
*/**/coverage
*/**/coverageEnv
*/**/coverage.json
*/**/allFiredEvents
*/**/scTopics

# lerna
lerna-debug.log

# truffle build artifacts
*/**/build

# lock files
package-lock.json
